@charset "utf-8";
/* CSS Document */

/* Small screen from 0 to 360px */
@media only screen and (max-width: 360px) {

.article-right-column {

         max-width: 260px;
	 float: right;
}

	
.article-left-column {

         max-width: 60px;
}	

	
.right-footer {
	    max-width: 270px;
}

#wrapper {
max-height: 520px;
max-width: 620px;	
}

  
  
}

/*small screen 360 to 480px */
@media only screen and (max-width: 480px) {

  .article-right-column {

         max-width: 280px;
}

.right-footer {
	    max-width: 290px;
}

}

/*Small tablet to big tablet: 768px to 1020px */
@media only screen and (max-width: 1020px) {
  
.article-right-column {

         max-width: 680px;
}

.right-footer {
	    max-width: 670px;
}  
  
}	
/*Anything bigger */
@media only screen and (min-width: 1021px){
#wrapper{
	/*max-height: 1135px;*/
	max-height: 100%;
	min-height: 100%;
	}	
	
.article-right-column {
                     /* max-width: 720px;*/
		    max-width: 100%;	
		      }	
	
.right-footer {
	   /*   max-width: 670px; */
	        max-width: 100%;
	   
	      }
}	
