@charset "utf-8";

@import url(gallery.css);

@import url(carousel.css);

@import url(news.css);

@import url(colourpicker.css);

@font-face {
  font-family: Jellee-Roman;
  src: url(../fonts/Jellee-Roman.otf);
}

/*
* {
  --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420)));
} this code was to help make the font size responsive and was removed because it didn't pass validation
*/

html {
 font-family: Jellee-Roman;
 font-size: 1vw;
 text-rendering: optimizeLegibility;
 margin: 0;
 padding: 0;
}

body {
	/*background-color: #fffff0;*/
  background-image: url("../images/y-so-serious-white-pick.png");
}

#wrapper {
max-width: 56%;
min-height: 127vh;
/*background-color: #F2E416;*/
background-image: url("../images/F2E416-hsv-noise.png");
margin: 0 auto;
}

header {
 width: 98%;
 height: 19.1vh;
 background-color: #2E3C8C;
 float: left;
 margin: 1% 1% 1% 1%;
}

nav {
width: 98%;
/*height: calc(2.5vw * 1.4vw);*/
/*height: 2.2vw;*/
background-color: #63D8F2;
float: left;
margin: 1% 1% 1% 1%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: black;
}
nav li {
	float: left;
	list-style-type: none;
	font-size: 100%;
	background-color: #63D8F2;
	/*padding-left: 0px;*/
	padding-right: calc(8vw - 2em);
	padding-bottom: calc(0.1em + 0.4vh);
}

nav li a {
	display: block;
	color: black;
	text-align: center;
	padding: 0.866vh;
	text-decoration: none;
}
nav li a:hover {
	background-color: #ff4d4d;
}


main {
	width: 94%;
	height: 74.22vh;
	background-color: #1A7F7D;
	float: left;
	padding: 2%;
  margin: 1% 1% 1% 1%;
}

.toys-footer {
	   width: 98%;
	   height: 15.92vh;
	   background-color: #F24E29;
	   float: left;
     margin: 1% 1% 1% 1%;
  }
.left-footer {
	    width: 25%;
	    height: 13.27vh;
	    background-color: #038C3E;
	    float: left;
      margin: 1% 0 0 1%;
			padding: 0 0 0 1%;
	   }

.right-footer {
	    width: 70%;
	    height: 13.26vh;
	    background-color: #63D8F2;
	    float: inherit;
      margin: 1% 1% 1% 1%;
			padding: 0 0 0 1%;
}
section {
	    /*width: 40%;*/
	    height: 52.01vh;
	    background: #F2E416;
	    margin: 0 0 2% 1%;
	    float: left;
}
.section-left-column {
   width: 25%;
	 height: 75.3vh;
	 background: #63D8F2;
	 margin: 0 0 0 -1%;
	 padding: 0 0 0 1%;
	 float: left;
}
.section-right-column {

   width: 74%;
	 height: 75.3vh;
	 background: #F2E416;
	 margin: 0 -2% 2% 1%;
	 padding: 0 0 0 1%;
   overflow: auto;
}

.section-left-column h2 {
  display: none;
}

.section-right-column h2 {
    display: none;
}

aside  {
	   width: 46%;
	   height: 47%;
	   background-color: #64569E;
	   float: right;
}

.toys-logo  {
   width: 23.2%;
	 height: 12.73vh;
	 background-color: #64569E;
	 /* background-image: url("https://raw.githubusercontent.com/j354374/dld/master/assignment1/images/toyslogo.png");*/
	 float: left;
   margin: 2% 0 0 2%;
   padding: 1% 1% 1% 1%;
	 background-position: center center;
	 background-repeat: no-repeat;
	 background-attachment: local;
	 /*background-attachment: fixed;*/
	 background-size: cover;
}

.toys-logo h1 {
display: none;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

p {
  margin: auto;
  width: fit-content;

font-size: min(max(16px, 4vw), 22px);
/*  max-font-size: 20;
  min-font-size: 14;
/*  font-size: var(--responsive);*/
}

h1 {
  /* Set max and min font sizes
  --max-font: 50;
  --min-font: 25; */
  font-size: min(max(16px, 4vw), 22px);
  font-size: 20em;
}

button{
  display:inline-block;
  height: 7vh;
  width: 89%;
  box-sizing: border-box;
  color:white;
  text-align: center;
  padding: 1%;
  background-color: #038C3E; /* Green */
}

video {
width: 35vw;
height: 40vh;
margin-top: 2%;
}

#toy-main.panel {
  display: inline;
}

#toy-pictures-latest.panel,#toy-pictures-greatest.panel,#toy-specials.panel,#toy-colours.panel,#toy-news-archives.panel,#toy-breaking-news.panel {
	display: none;
}

#toy-pictures-latest-footer.panel,#toy-pictures-greatest-footer.panel,#toy-specials-footer.panel,#toy-colours-footer.panel,
#toy-news-archives-footer.panel,#toy-breaking-news-footer.panel {
  display: none;
}

#toy-news-archives.panel{
overflow-y: scroll;
}

@media (min-width: 1200px) {
  h1,
  p {
    font-size: 1em;
  }
	.toys-logo  {
    background-image: url("../images/toyslogo.png");
}

}

@media (max-width: 1200px) {
  h1,
  p {
    font-size: 1em;
  }
	.toys-logo  {
    background-image: url("../images/toyslogo.png");
}

}

@media (max-width: 420px) {
  h1,
  p {
    font-size: 1.6em;
  }
}


@media(max-width:900px) {
	#wrapper {
		min-width: 80%;
	}
}

@media(max-width:850px) {
	#wrapper {
		min-width: 85%;
	}

}
@media(max-width:800px) {
	#wrapper {
		min-width: 90%;
	}

}
@media(max-width:700px) {
	#wrapper {
		min-width: 100%;
	}
}

@media(max-width:350px){

	nav {
	  clear: both;
	  display: inline-block; /*shrinks div so it's just wide enough to fit */
	}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav ul li {
  margin: 0 0 .25em 0;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 800;
  display: block;
  padding: .15em;
}
}

@media(min-width:551px) {
  .toys-logo {
    background-image: url("../images/toyslogo.png");
  }
}

@media(max-width:550px) {
  .toys-logo {
    background-image: url("../images/toyslogo-sm.png");
  }
}
