@charset "utf-8";
/* CSS Document 
@import url("360px.css") screen and (max-device-width: 360px);
@import url("480px.css") screen and (max-device-width: 480px);
@import url("640px.css") screen and (max-device-width: 640px);
@import url("1024px.css") screen and (max-device-width: 1024px);
@import url("1848px.css") screen and (max-device-width: 1848px); */
@import url("screens.css"); 



	

html {
 font-family: Verdana, "sans-serif";
 font-size: 16px;
 margin: 0;
 padding: 0;		
}

body {
	background-color: #fffff0;
}

#wrapper {
max-width: 1020px;
min-height: 1135px;	
background-color: yellow;	
margin: 0 auto;
}

header {
 width: 98%;
 height: 180px;
 background-color: #FF0004;
 float: left;
 margin: 1% 1% 1% 1%; 
}

nav {
width: 98%;
height: 70px;
background-color: #ccc;
float: left;
margin: 1% 1% 1% 1%;   
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: black;
}
nav li {
	float: left;
	list-style-type: none;
	font-size: 20px;
	background-color: #ffe6e6;
	padding-left: 0px;
	padding-right: 25px;
	margin: -1% 14% 0% -1%;
}

nav li a {
	display: block;
	color: black;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
nav li a:hover {
	background-color: #ff4d4d;
}


main {
	width: 94%;
	height: 605px;
	background-color: #1A7F7D;
	float: left;
	padding: 2%;
  margin: 1% 1% 1% 1%; 
}

.toys-footer {
	width: 98%;
	   height: 150px;
	   background-color: darkblue;
	   float: left;
     margin: 1% 1% 1% 1%; 
  }
.left-footer {
	    width: 245px;
	    height: 125px;
	    background-color: aqua;
	    float: left;
      margin: 1% 0% 0% 1%;
	   }

.right-footer {
	    width: 720px;
	    height: 125px;
	    background-color: pink;
	    float: inherit;
      margin: 1% 1% 1% 1%;
}
article {
	    width: 450px;
	    height: 490px;
	    background: violet;
	    margin: 0 0 2% 1%;
	    float: left;
}
.article-left-column {
   width: 235px;
	 height: 615px;
	 background: violet;
	 margin: 0% 0% 0% -1%;
	 float: left;
}
.article-right-column {

   width: 730px;
	 height: 615px;
	 background: violet;
	 margin: 0% -2% 2% 1%;	 
}

aside  {
	   width: 46%;
	   height: 47%;
	   background-color: #64569E;
	   float: right;
}

.toys-logo  {
   width: 230px;
	 height: 120px;
	 background-color: #64569E;
	 background-image: url("https://raw.githubusercontent.com/j354374/dld/master/assignment1/images/toyslogo.png"); 
   float: left;
   margin: 2% 0% 0% 2%;
   padding: 1% 1% 1% 1%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
